<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/auth/google" id="home-login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  </body>
</html>
