body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.workout-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workout-user img {
  border-radius: 50%;
  height: 40px;
}

#sets-table {
  border-radius: 50%;
  margin: 15px 0 0 0;
}

#show-page {
  font-size: 24px;
}

video {
  margin: 10px 0 0 0;
}